<a href="https://colab.research.google.com/github/albivaltzew/Machine_learning_DC_ITMO/blob/main/Unit_7_SVM_classification.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#Опросы

In [ ]:
import numpy as np
t0 = 3
t1 = -3
t2 = -4
d = (np.abs(t0+t1*2+t2*1))/np.sqrt(t1**2+t2**2 )
d

1.4

In [ ]:
p = 2*(-1)+ 3*3 + 4*5
p

27

In [ ]:
x1 = 1
x2 = -2
x3 = 3
ans = 5+ 3*x1 - 4*x2 + 2*x3
ans

22

#Задание классификация котов

In [ ]:
import cv2
import pandas as pd
from imutils import paths

In [ ]:
def extract_histogram(image, bins=(8, 8, 8)):
    hist = cv2.calcHist([image], [0, 1, 2], None, bins, [0, 256, 0, 256, 0, 256])
    cv2.normalize(hist, hist)
    return hist.flatten()

In [ ]:
# Load the Drive helper and mount
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [ ]:
images_train = sorted(list(paths.list_images('/content/drive/MyDrive/dc_ML/train')))
# imagePath

In [ ]:

result = []
for image in images_train:
  result.append(extract_histogram(cv2.imread(image)))
result = np.array(result)
X = pd.DataFrame(result)
X.head()
# X

,0,1,2,3,4,5,6,7,8,9,...,502,503,504,505,506,507,508,509,510,511
0,0.242645,0.073122,0.000232,0.000000,0.000000,0.0,0.0,0.0,0.000000,0.087363,...,0.00000,0.000000,0.0,0.000000,0.0000,0.00000,0.000000,0.000000,0.000000,0.000000
1,0.418818,0.126781,0.000085,0.000000,0.000000,0.0,0.0,0.0,0.005085,0.076441,...,0.00000,0.000000,0.0,0.000000,0.0000,0.00000,0.000000,0.000000,0.000042,0.000000
2,0.356737,0.184168,0.020616,0.001619,0.000717,0.0,0.0,0.0,0.000041,0.027440,...,0.00002,0.000000,0.0,0.000000,0.0000,0.00000,0.000000,0.000000,0.000000,0.007726
3,0.001266,0.019995,0.011941,0.001583,0.000158,0.0,0.0,0.0,0.000000,0.002145,...,0.01595,0.002233,0.0,0.000000,0.0000,0.00000,0.000000,0.000000,0.023354,0.497077
4,0.000000,0.000105,0.000000,0.000000,0.000000,0.0,0.0,0.0,0.000000,0.000366,...,0.00000,0.000000,0.0,0.002719,0.7748,0.34338,0.038583,0.114442,0.126833,0.008469

In [ ]:
Y = [0 if 'cat' in image else 1 for image in images_train]

In [ ]:
from sklearn.svm import LinearSVC
from sklearn.model_selection import train_test_split
from sklearn.metrics import confusion_matrix
from sklearn.metrics import classification_report

In [ ]:
xtrain, xtest, ytrain, ytest = train_test_split(X, Y, test_size=0.25, random_state=13)

In [ ]:
lsvc = LinearSVC(C=1.28, random_state=13)
print(lsvc)

LinearSVC(C=1.28, random_state=13)

In [ ]:
lsvc.fit(xtrain, ytrain)
# score = lsvc.score(xtrain, ytrain)
# print("Score: ", score)

LinearSVC(C=1.28, random_state=13)

Коэффициенты гиерплоскости

In [ ]:
coeff = pd.DataFrame(lsvc.coef_)
print(round(coeff[0],2))
print(round(coeff[33],2))
print(round(coeff[335], 2))

0   -0.42
Name: 0, dtype: float64
0    0.91
Name: 33, dtype: float64
0   -0.01
Name: 335, dtype: float64

Матрица ошибок

In [ ]:
ypred = lsvc.predict(xtest)

cm = confusion_matrix(ytest, ypred)
print(cm)

[[85 37]
 [65 63]]

In [ ]:
cr = classification_report(ytest, ypred)
print(cr)

              precision    recall  f1-score   support

           0       0.57      0.70      0.62       122
           1       0.63      0.49      0.55       128

    accuracy                           0.59       250
   macro avg       0.60      0.59      0.59       250
weighted avg       0.60      0.59      0.59       250

 F - метрика

In [ ]:
F1_1 = 2 * (0.57*0.7)/(0.57+0.7)
F1_1

0.6283464566929133

Получаем предсказания

In [ ]:
result = extract_histogram(cv2.imread('/content/drive/MyDrive/dc_ML/test/cat.1043.jpg'))
result = extract_histogram(cv2.imread('/content/drive/MyDrive/dc_ML/test/cat.1037.jpg'))
result = extract_histogram(cv2.imread('/content/drive/MyDrive/dc_ML/test/dog.1012.jpg'))
# result = extract_histogram(cv2.imread('/content/drive/MyDrive/dc_ML/test/dog.1033.jpg'))
X_train = pd.DataFrame(result).T

X_train
print(lsvc.predict(X_train))

[1]

[1]