<a href="https://colab.research.google.com/github/albivaltzew/Machine_learning_DC_ITMO/blob/main/Unit_4_multiple_regression.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Опросы

In [ ]:
import pandas as pd
import numpy as np
db = pd.read_csv("task4_1.csv", delimiter=",", skiprows = 1,header = None, usecols=[1,2])
db

    1   2
0   5  12
1  17  45
2   9  18
3  13  25
4  12  23
5   7  18
6  18  43
7  20  36
8  22  66
9  24  78

Средние значения

In [ ]:
data = db.to_numpy()
length = len(data)
sum_X = 0
sum_Y = 0
for i in range(length):
  sum_X += data[i, 0]
  sum_Y += data[i, 1]
mean_X = sum_X/length
mean_Y = sum_Y/length
print(mean_X)
print(mean_Y)

14.7
36.4

In [ ]:
theta1 = 0
numerator = 0
denumerator = 0
for i in range(length):
  numerator += (data[i, 0] - mean_X)*(data[i,1] - mean_Y)
  denumerator += (data[i,0] - mean_X) ** 2

theta1 = numerator/denumerator

theta0 = mean_Y - theta1 * mean_X

print(theta1)
print(theta0)

3.1076032622993948
-9.2817679558011

Коэф стьюдента

In [ ]:
eps = 0.05
coef = 1 - eps/2
t = 4.303

Стандартная ошибка

In [ ]:
SE_theta0 = 0

sum_1 = 0
sum_2 = 0
for i in range(length):
  sum_1 += (data[i,1] - theta0 - theta1*data[i,0])**2
  sum_2 += (data[i,0] - mean_X)**2
SE_theta0 = np.sqrt(sum_1/(length - 2)) * np.sqrt(1/length + mean_X**2 / sum_2)

SE_theta1 = np.sqrt(sum_1/(length - 2)) * np.sqrt( 1 / sum_2)

print(SE_theta0)
print(SE_theta1)

7.288433194858557
0.4572269753944957

Доверительный интервал

In [ ]:
theta0_l = theta0 - t*SE_theta0 
theta0_r = theta0 + t*SE_theta0 

print(theta0_l,theta0_r)
theta1_l = theta1 - t*SE_theta1 
theta1_r = theta1 + t*SE_theta1 
print(theta1_l,theta1_r)

-40.64389599327747 22.08036008167527
1.1401555871768798 5.07505093742191

Проверка гипотез

In [ ]:
t = theta1/SE_theta1
t

6.796631497120556

R2 статистика

In [ ]:
numerator = 0
denumerator = 0
for i in range(length):
  numerator += (data[i,1] - theta0 - theta1*data[i,0])**2
  denumerator += (data[i,1] - mean_Y)**2

R2 = 1 - numerator/denumerator
R2

0.8523827265066053

RSE

In [ ]:
numerator = 0
for i in range(length):
  numerator += (data[i,1] - theta0 - theta1*data[i,0])**2
n = length
RSE = np.sqrt(1/(n-2)*numerator)
RSE

8.914167281439942

In [ ]:
# f = 13.32+ 5.08*3 - 3.78*(-4)
# f

## Task 1

In [ ]:
# importing modules and packages
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression
from sklearn.metrics import mean_squared_error, mean_absolute_error
from sklearn import preprocessing

In [ ]:
import pandas as pd
import numpy as np
# db = pd.read_csv("candy-data.csv", delimiter=",", skiprows = 1,header = None, usecols=[1,2])
df = pd.read_csv("candy-data.csv", delimiter=",",header = 0, index_col='competitorname')
# df = df.set_index('competitorname')
df_ = df.drop(['Y'], axis=1)
df1 = df_.drop(['Air Heads','Kit Kat'])
df

,chocolate,fruity,caramel,peanutyalmondy,nougat,crispedricewafer,hard,bar,pluribus,sugarpercent,pricepercent,winpercent,Y
competitorname,,,,,,,,,,,,,
100 Grand,1,0,1,0,0,1,0,1,0,0.732,0.860,66.971725,1
3 Musketeers,1,0,0,0,1,0,0,1,0,0.604,0.511,67.602936,1
One dime,0,0,0,0,0,0,0,0,0,0.011,0.116,32.261086,0
One quarter,0,0,0,0,0,0,0,0,0,0.011,0.511,46.116505,0
Air Heads,0,1,0,0,0,0,0,0,0,0.906,0.511,52.341465,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...
Snickers Crisper,1,0,1,1,0,1,0,1,0,0.604,0.651,59.529251,1
Sour Patch Kids,0,1,0,0,0,0,0,0,1,0.069,0.116,59.863998,1
Sour Patch Tricksters,0,1,0,0,0,0,0,0,1,0.069,0.116,52.825947,1
Starburst,0,1,0,0,0,0,0,0,1,0.151,0.220,67.037628,1
Strawberry bon bons,0,1,0,0,0,0,1,0,1,0.569,0.058,34.578991,0

In [ ]:
# df_filter = df.loc['competitorname'].isin(['Kit Kat', 'Air Heads']) 
test_ = df.loc[['Air Heads', 'Kit Kat', ]]
# test = df.loc[df['chocolate'].isin([1])]
test = test_.drop(['winpercent','Y'],axis= 1)
new_row = { 'chocolate':1, 'fruity':1, 'caramel':1,
           'peanutyalmondy':0, 'nougat':1, 'crispedricewafer':0,
           'hard':1,
           'bar':1,
           'pluribus':1,
           'sugarpercent':0.669,
           'pricepercent':0.456,}
test_new = test.append(new_row, ignore_index=True)
test_new

,chocolate,fruity,caramel,peanutyalmondy,nougat,crispedricewafer,hard,bar,pluribus,sugarpercent,pricepercent
0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.906,0.511
1,1.0,0.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0,0.313,0.511
2,1.0,1.0,1.0,0.0,1.0,0.0,1.0,1.0,1.0,0.669,0.456

In [ ]:
# creating feature variables
X = df1.drop('winpercent',axis= 1)
Y = df1['winpercent']
# print(X)
# print(Y)

In [ ]:
# # creating train and test sets
# X_train, X_test, y_train, y_test = train_test_split(
# 	X, y, test_size=0.3, random_state=101)

In [ ]:
# creating a regression model
model = LinearRegression()

In [ ]:
# fitting the model
model.fit(X,Y)

LinearRegression()

In [ ]:
# making predictions
predictions = model.predict(test)
print(predictions)

[52.89627581 62.36513914]

In [ ]:
# making predictions
test2 = [1,1,1,0,1,0,1,1,1,0.669,0.456]
predictions = model.predict(test_new)
print(predictions)

[62.36513914 52.89627581 61.26894586]

In [ ]:
# model evaluation
print(
  'mean_squared_error : ', mean_squared_error(y_test, predictions))
print(
  'mean_absolute_error : ', mean_absolute_error(y_test, predictions))

mean_squared_error :  57.64110449799546
mean_absolute_error :  6.493925126015401